{% extends 'auth.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<center>
    {% if messages %}
        {% for message in messages %}
        <ul>
            <li>{{ message }}</li>
        </ul>
        {% endfor %}
    {% endif %}
    
    <h2>Login Form</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Dont have an account? Create an account<a href="{% url 'accounts:register' %}"> here </a></p>
        <button class="btn btn-outline-success" type="submit">Login</button>
    </form>    
</center>
    
{% endblock %}