{% extends 'base.html' %}

{% block title %} {{ request.user }} Profile {% endblock %}

{% block body %}
<h2>Profile of {{ request.user }}</h2>
    <table border="5">
        <tr>
            <th>Username </th>
            <th>Email </th>
        </tr>
        <tr>
            <td>{{ request.user }}</td>
            <td>{{ request.user.email }}</td>
        </tr>
    </table>

    <h2>Update your profile <a href="{% url 'accounts:profile_update' request.user %}">here</a></h2>
    <h2>Delete your profile <a href="{% url 'accounts:profile_delete' request.user %}">here</a></h2>
{% endblock %}