{% extends 'layout/base.html' %}

{% block title %} {{ request.user }} Profile {% endblock %}

{% block body %}
<h2>Profile Details</h2>
    <ul>
        <li>Username: {{ request.user }}</li>
        <li>Email: {{ request.user.email }}</li>
        <a class="btn btn-outline-success" href="{% url 'accounts:profile_update' request.user %}">Update Profile </a>
        <a class="btn btn-outline-success" href="{% url 'accounts:profile_delete' request.user %}">Delete Profile</a>
    </ul>

    <!-- Shows all movies current user logged in reviewed and can edit or delete their own reviews -->
     <h2>Your movie reviews </h2>
     {% if not reviews %}
    <p>You have made 0 reviews.</p>
    {% else %}
        {% for review in reviews %}
        <ul>
            <li>Movie Title: <a href="{% url 'movies:movie_detail' review.movie_title  %}">{{ review.movie_title }} </a></li>
            <li>Comment : {{ review.review_content }}</li>
            <li>Rating (MovieMeter): {{ review.rating }}</li>
            <li>Reviewed At : {{ review.created_at }}</li>

        </ul>
        {% endfor %}
     {% endif %}
{% endblock %}