<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MovieMeter {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <table>
        <tr>
            <th><a href="{% url 'movies:home' %}">MovieMeter</a></th>
        </tr>
        <tr class="navbar">
            <td><a href="{% url 'movies:home' %}">Home</a></td>
            <td><a href="#">Reviews</a></td>
            <td><a href="#">API</a></td>
        </tr>
    </table>

        <div class="search-container">
            <a href="{% url 'accounts:profile' request.user %}" class="signup-btn">Profile</a>
            
        </div>

        {% if not request.user.is_authenticated %}
        <div class="navbar-user">
            <a href="{% url 'accounts:login' %}" class="login-btn">Login</a>
            <a href="{% url 'accounts:register' %}" class="signup-btn">Sign Up</a>
        </div>
        {% else %}
        <div class="navbar-user">
            <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit" class="login-btn">Logout</button>
            </form>
        </div>
        {% endif %}
    </nav>

    <!-- Page content goes here -->

     {% block body %}

     {% endblock %}

    <script>
        // Toggle the mobile menu
        const toggleButton = document.querySelector('.navbar-toggle');
        const navbarLinks = document.querySelector('.navbar-links');

        toggleButton.addEventListener('click', () => {
            navbarLinks.classList.toggle('active');
        });

        // Close the dropdown on clicking outside
        document.addEventListener('click', function(event) {
            let dropdown = document.querySelector('.dropdown-content');
            if (!dropdown.contains(event.target)) {
                dropdown.classList.remove('active');
            }
        });
    </script>
</body>
</html>
