<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MovieMeter {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <table>
        <tr>
            <th colspan="20"><a href="{% url 'movies:home' %}"><h1>MovieMeter</h1></a></th>
        </tr>
        <tr>
            <td><a href="{% url 'movies:home' %}">Home</a></td>
            <td><a href="{% url 'movies:my_reviews' %}">My Reviews</a></td>
            <td><a href="{% url 'movies:movie_recommendations' %}">Recommendations</a></td>
            {% with numbers="trfguhysbghfhgjgjg" %}
            {% for number in numbers %}
            <td></td>
            {% endfor %}
            {% endwith %}

            {% if not request.user.is_authenticated %}
                <td><a href="{% url 'accounts:login' %}" >Login</a></td>
                <td><a href="{% url 'accounts:register' %}" >Sign Up</a></td>
            {% else %}
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <td><button type="submit">Logout</button></td>
                </form>
            {% endif %}
            <td><a href="{% url 'accounts:profile' request.user %}" >Profile</a></td>
        </tr>
    </table>


        
    <!-- Page content goes here -->

     {% block body %}

     {% endblock %}

</body>
</html>
