{% extends 'layout/base.html' %}

{% block body %}
<center>
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
</center>
    

    <table>
        {% for movie in movies %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
            <tr>
            {% endif %}

            <td>
                <img class="object-fit-contain border rounded" src="{{ movie.Poster }}" alt="Movie Poster" class="movie-poster" />
                <center>
                    <a href="{% url 'movies:movie_detail' movie.Title %}">{{ movie.Title }}</a>
                </center>
                <p>{{ movie.Plot }}</p>
            </td>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
