{% extends 'base.html' %}

{% block body %}
    {% if message %}
        <!-- Success Message -->
        <div class="p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3">
            {{ message }}
        </div>
    {% endif %}

    <table>
        {% for movie in movies %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
            <tr>
            {% endif %}

            <td>
                <img class="img-thumbnail" src="{{ movie.Poster }}" alt="Movie Poster" class="movie-poster" />
                <center>
                    <a href="{% url 'movies:movie_detail' movie.Title %}">{{ movie.Title }}</a>
                </center>
                <p>{{ movie.Plot }}</p>
            </td>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
