{% extends 'layout/base.html' %}

{% block body %}
    <h2>Popular Movies of all time</h2>

    <table>
        {% for movie in movies %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
            <tr>
            {% endif %}

            <td>
                <img class="object-fit-contain border rounded" src="{{ movie.Poster }}" alt="Movie Poster" class="movie-poster" />
                <center>
                    <a href="#">{{ movie.Title }}</a>
                </center>
            </td>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
