{% extends 'base.html' %}
{% block title %} Movie Detail {{ movie.Title }} {% endblock %}

{% block body %}
<center>
    <h2>Details about {{ movie.Title }}</h2>
    <div class="movie-grid">
        <div class="movie-item" >
            <img src="{{ movie.Poster }}" alt="Movie Poster" class="movie-poster" />
            <div class="movie-title">
                <a href="{% url 'movies:movie_detail' movie.Title %}">{{ movie.Title }}</a>
            </div>
            <div class="movie_description">
                <p>{{ movie.Plot }}</p>
            </div>
        </div>   
    </div>  

    <p>Type : {{ movie.Type }}</p>
    <p>Released : {{ movie.Released }}</p>
    <p>Genre : {{ movie.Genre }}</p>

    <h2>Ratings </h2>
    {% for rating in movie.Ratings %}
        <p><b>{{ rating.Source }} </b> : {{ rating.Value }}</p>
    {% endfor %}

    <p> <b>imdbVotes</b>: {{ movie.imdbVotes }}</p>
    <p>MovieMeter : 
        <a href="{% url 'movies:user_movie_review' movie.Title  %}"><strong>Rate Here</strong></a>
    </p>    

<!-- Additional Movie Details (Actors, Directors, etc.) -->
<div class="movie-extra-details">
    <h2>Cast & Crew</h2>
        <p><strong>Director:</strong> {{ movie.Director }}</p>
        <p><strong>Stars:</strong> {{ movie.Actors }}</p>
        <p><strong>Runtime:</strong> {{ movie.Runtime }} minutes</p>
</div>
</center>
{% endblock %}